@font-face {
    font-family: 'silkscreenbold';
    src: url('../fonts/slkscrb-webfont.eot');
    src: url('../fonts/slkscrb-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/slkscrb-webfont.woff') format('woff'),
    url('../fonts/slkscrb-webfont.ttf') format('truetype'),
    url('../fonts/slkscrb-webfont.svg#silkscreenbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    margin-top: 60px;
    font-family:'silkscreenbold',"Courier New", Courier, monospace;
}
#canvas {
    width: 100%;
    height:100%;
    position: absolute;
    bottom:0;
}
nav.navbar.navbar-inverse.navbar-fixed-top {
    background-color: #572F0C;
    white-space: nowrap;

}
.navbar-inverse .navbar-brand {

    font-family:'silkscreenbold',"Courier New", Courier, monospace;
    background-color: #572F0C;
    color: #fff;
    font-size:28px;

}
.navbar-inverse .navbar-nav > li > a{
    color:#fff;
}

.btn-default{
    margin-top:8px;
    background-color: #9D622D;
    border-color: #8B572A;
    color:#f9f9f9;
}
.btn-default:hover{
    background-color: #8B572A;
    border-color: #572F0C;
}
/******************************/
/******COOL TEXT EFFECTS******/
/****************************/
.textshadow{
    text-shadow: 0 1px 0 #BA7537,
    0 2px 0 #A86830,
    1px 3px 0 #9D622D,
    2px 4px 0 #925B2B,
    3px 5px 0 #865326,
    4px 6px 1px #744922,
    0 0 5px rgba(68,44,23,.6),
    0 1px 3px rgba(68,44,23,.5),
    1px 3px 5px rgba(68,44,23,.4),
    3px 5px 10px rgba(68,44,23,.3),
    5px 10px 10px rgba(68,44,23,.2),
    10px 20px 20px rgba(68,44,23,.1);
}
.textshadow-s{
    text-shadow: 0 1px 0 #BA7537,
    0 2px 0 #925B2B,
    1px 3px 0 #744922,
    0 0 5px rgba(68,44,23,.6),
    0 1px 3px rgba(68,44,23,.3),
    1px 3px 5px rgba(68,44,23,.1);
}
.gameinfo{
    margin-left:-140px;
    display: inline-flex;
    color:#fff;
}
.nav h5{
    color:#fff;
    margin:16px 10px 0 0;
}

.player-label{
    color: #044D6A;
    font-size: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    background-color: transparent;
    z-index: 9;
}

.opponent-label{
    color:#6A2504;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:#aa0000;
    background-color: transparent;
    z-index: 8;
}

.centered-info{
    position: fixed;
    top: 50%;
    left: 50%;
	text-align: center;
    transform: translate(-50%, -50%);
    z-index: 10;
    color:#fff;
	background-color: rgba(69,40,14, 0.9);
    
    padding:50px;
    z-index: 10;
    width: 100%
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #45280E;


}

.navbar-nav .timecode{
    display: inline-block;
    color:#fff;
    text-align: center;
    float: left;
    margin-right: 40px;
    margin-top: 4px;
    background-color:#8B572A;
    padding:8px 22px 0px 22px;
    border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-radius: 3px 3px 3px 3px;
    border: 1px solid #45280E;
    -webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
}

/******************/
/******COLORS******/
/******************/

.brown_bright{
    background-color: #BA7537;
}
.brown_medium{
    background-color: #8B572A;
}
.brown_dark{
    background-color: #572F0C;
}
.blue_bright{
    background-color:#4A90E2;
}
.blue_dark{
    background-color:#3D77BA;
}
.yellow{
    background-color:#F8E71C;
}
.orange_bright{
    background-color:#F8AF1C;
}
.orange_dark{
    background-color: #F14612;
}
.red_bright{
    background-color:#EB1A1A;
}
.red_dark{
    background-color: #A10000;
}