@import url(https://fonts.googleapis.com/css?family=VT323);
body {
    font-family: VT323,"Lucida Console", Monaco, monospace;
    margin-top: 60px;
}

canvas {
    width: 100%;
    height: 100%
}

.menu{
    background-color: #000;
    color:#fff;
}

/******************/
/******COLORS******/
/******************/

.brown_bright{
    background-color: #BA7537;
}
.brown_medium{
    background-color: #8B572A;
}
.brown_dark{
    background-color: #572F0C;
}
.blue_bright{
    backgorund-color:#4A90E2;
}
.blue_dark{
    background-color:#3D77BA;
}
.yellow{
    background-color:#F8E71C;
}
.orange_bright{
    backgorund-color:#F8AF1C;
}
.orange_dark{
    background-color: #F14612;
}
.red_bright{
    background-color:#EB1A1A;
}
.red_dark{
    background-color: #A10000;
}